<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lesson Ordering Site</title>
    <style></style>
  </head>
  <body>
    <div id="webstore">
      <header class="border-b-2 p-4 text-white mb-4">
        <div class="container mx-auto flex justify-between items-center">
          <h1 class="text-xl text-purple-800 font-bold">{{ message }}</h1>
          <div>
            <!-- Check Out button -->
            <button
              v-on:click="togglePage"
              :disabled="!isCheckoutPage && cart.length === 0"
              class="border border-gray-300 text-purple-600 px-4 py-2 rounded disabled:bg-gray-300 disabled:cursor-not-allowed hover:shadow-md"
            >
              <span class="fa-solid fa-cart-plus mr-2"></span>
              Cart <span v-if="itemInCart > 0">({{ itemInCart }})</span>
            </button>
          </div>
        </div>
      </header>
      <main>
        <!-- Product listing and sort -->
        <div class="flex" v-if="showProduct">
          <!-- Sidebar -->
          <aside class="w-1/4 p-4" v-if="showProduct">
            <h2 class="font-semibold text-lg mb-4">Sort & Filter</h2>

            <!-- Sort Options -->
            <div class="mb-6">
              <h3 class="text-sm font-medium mb-2">Sort By</h3>
              <div class="space-y-2">
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="sort"
                    value="subject"
                    class="text-indigo-600"
                    @change="setSort('subject')"
                    :checked="sortProperty === 'subject'"
                  />
                  <span>Subject</span>
                </label>
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="sort"
                    value="location"
                    class="text-indigo-600"
                    @change="setSort('location')"
                    :checked="sortProperty === 'location'"
                  />
                  <span>Location</span>
                </label>
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="sort"
                    value="price"
                    class="text-indigo-600"
                    @change="setSort('price')"
                    :checked="sortProperty === 'price'"
                  />
                  <span>Price</span>
                </label>
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="sort"
                    value="available"
                    class="text-indigo-600"
                    @change="setSort('available')"
                    :checked="sortProperty === 'available'"
                  />
                  <span>Availability</span>
                </label>
              </div>
            </div>

            <!-- Order Options -->
            <div class="mb-6">
              <h3 class="text-sm font-medium mb-2">Order</h3>
              <div class="space-y-2">
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="order"
                    value="asc"
                    class="text-indigo-600"
                    @change="setOrder('asc')"
                    :checked="sortOrder === 'asc'"
                  />
                  <span>Ascending</span>
                </label>
                <label class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="order"
                    value="desc"
                    class="text-indigo-600"
                    @change="setOrder('desc')"
                    :checked="sortOrder === 'desc'"
                  />
                  <span>Descending</span>
                </label>
              </div>
            </div>
          </aside>

          <div
            class="container mr-5 mb-5 p-8 bg-slate-100 border border-gray-300 rounded-2xl"
            v-if="showProduct"
          >
            <div class="search-container mb-6">
              <input
                type="text"
                placeholder="Search lessons..."
                class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400"
                v-model="searchQuery"
                @input="fetchSearchResults"
              />
            </div>

            <!-- Display Lessons -->
            <div
              class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
            >
              <div
                v-for="lesson in sortedLessons"
                :key="lesson.id"
                class="bg-white border border-gray-300 rounded-lg p-4"
              >
                <div class="relative">
                  <span
                    class="absolute top-2 right-2 bg-green-600 text-white text-xs font-semibold px-2 py-1 rounded"
                  >
                    Spaces: {{ lesson.availableInventory }}
                  </span>

                  <figure class="flex justify-center mb-4">
                    <img
                      :src="lesson.image"
                      alt="Lesson image"
                      class="rounded-lg h-64 object-cover"
                    />
                  </figure>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">
                  {{ lesson.subject }}
                </h2>
                <p class="text-sm text-gray-600 mb-1">
                  <i class="fas fa-map-marker-alt mr-1"></i>
                  {{ lesson.location }}
                </p>

                <div class="flex items-center justify-between mt-4">
                  <p
                    class="text-lg font-semibold text-gray-800 flex items-center"
                  >
                    <i class="fas fa-dollar-sign mr-1"></i>
                    {{ lesson.price }}
                  </p>

                  <button
                    v-if="lesson.availableInventory > 0"
                    v-on:click="addItemToCart(lesson)"
                    class="bg-purple-500 text-sm text-white py-[5px] px-2 rounded hover:bg-purple-600"
                  >
                    Add to Cart
                  </button>
                  <button
                    v-else
                    :disabled="true"
                    class="bg-gray-300 text-gray-500 py-[5px] px-2 rounded"
                  >
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cart Section -->
        <div class="container mx-auto p-8" v-else>
          <!-- Heading -->
          <h2 class="text-2xl font-bold text-gray-800 mb-6">Cart</h2>

          <!-- Cart Grid -->
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-8"
          >
            <div
              v-for="(item, index) in cart"
              :key="index"
              class="border border-gray-300 rounded-lg p-4"
            >
              <div class="relative">
                <span
                  class="absolute top-[-1px] right-[-1px] bg-purple-600 text-white text-xs font-semibold px-2 py-1 rounded"
                >
                  x{{ item.quantity }}
                </span>
                <figure class="flex justify-center mb-4">
                  <img
                    :src="item.image"
                    alt="Lesson image"
                    class="rounded-lg h-64 object-cover"
                  />
                </figure>
              </div>
              <h2 class="text-lg font-semibold text-gray-800">
                {{ item.subject }}
              </h2>
              <p class="text-sm text-gray-600">
                <i class="fas fa-map-marker-alt mr-1"></i>
                {{ item.location }}
              </p>
              <p class="text-sm text-gray-600 mb-4">Price: ${{ item.price }}</p>
              <button
                v-on:click="removeItemFromCart(index)"
                class="w-full bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
              >
                Remove
              </button>
            </div>
          </div>

          <!-- Total Price Section -->
          <div class="border-t border-gray-300 pt-6 mb-8">
            <h3 class="text-xl font-bold text-gray-800 mb-2">Total Price</h3>
            <p class="text-lg text-gray-700 font-semibold">${{ totalPrice }}</p>
          </div>

          <!-- Checkout Form -->
          <div class="border-t border-gray-300 pt-6">
            <!-- Total Price Section -->
            <div class="border-t border-gray-300 pt-6 mb-8">
              <h3 class="text-xl font-bold text-gray-800 mb-2">Total Price</h3>
              <p class="text-lg text-gray-700 font-semibold">
                ${{ totalPrice }}
              </p>
            </div>
            <h2 class="text-xl font-semibold text-gray-800 mb-4">Checkout</h2>
            <form @submit.prevent="submitOrder" class="space-y-4">
              <div>
                <label for="name" class="block font-medium text-gray-700"
                  >Name</label
                >
                <input
                  id="name"
                  type="text"
                  v-model="customerName"
                  class="border rounded p-2 w-full"
                  placeholder="Enter your name"
                />
                <p
                  v-if="validationTriggered && !isValidOrder()"
                  class="text-red-500 text-sm"
                >
                  Name must contain only letters and spaces.
                </p>
              </div>
              <div>
                <label for="phone" class="block font-medium text-gray-700"
                  >Phone</label
                >
                <input
                  id="phone"
                  type="text"
                  v-model="customerPhone"
                  class="border rounded p-2 w-full"
                  placeholder="Enter your phone number"
                />
                <p
                  v-if="validationTriggered && !isValidOrder()"
                  class="text-red-500 text-sm"
                >
                  Phone must contain only numbers.
                </p>
              </div>
              <button
                type="submit"
                :disabled="!isValidOrder()"
                class="w-full md:w-1/2 bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-600 disabled:bg-gray-300 disabled:cursor-not-allowed"
              >
                Place Order
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>

    <script>
      let webstore = new Vue({
        el: "#webstore",
        data: {
          message: "StudySphere",
          showProduct: true,
          lessons: [],
          cart: [],
          isCheckoutPage: false,
          sortProperty: "subject",
          sortOrder: "asc",
          searchQuery: "",
          customerName: "",
          customerPhone: "",
          validationTriggered: false,
        },
        created() {
          this.fetchLessons();
        },
        methods: {
          async fetchLessons() {
            try {
              const response = await fetch(
                "https://studysphere-backend-5ec2.onrender.com/api/lessons"
              );
              if (!response.ok) throw new Error("Failed to fetch lessons.");
              const data = await response.json();
              console.log("Fetched lessons:", data);
              this.lessons = data;
            } catch (error) {
              console.error("Error fetching lessons:", error);
            }
          },
          async fetchSearchResults() {
            if (!this.searchQuery.trim()) {
              this.fetchLessons();
              return;
            }

            try {
              const response = await fetch(
                `https://studysphere-backend-5ec2.onrender.com/search?q=${encodeURIComponent(
                  this.searchQuery
                )}`
              );
              if (response.ok) {
                const data = await response.json();
                this.lessons = data;
              } else {
                console.error(
                  "Error fetching search results:",
                  response.statusText
                );
              }
            } catch (error) {
              console.error("Error:", error);
            }
          },
          togglePage() {
            this.showProduct = !this.showProduct;
          },
          setSort(property) {
            this.sortProperty = property;
          },
          setOrder(order) {
            this.sortOrder = order;
          },
          isValidOrder() {
            const nameRegex = /^[A-Za-z\s]+$/;
            const phoneRegex = /^[0-9\s-]+$/;
            const isNameNotEmpty = this.customerName.trim() !== "";

            return (
              isNameNotEmpty &&
              nameRegex.test(this.customerName) &&
              phoneRegex.test(this.customerPhone)
            );
          },
          submitOrder() {
            this.validationTriggered = true;

            if (this.isValidOrder()) {
              const orderData = {
                customerName: this.customerName,
                customerPhone: this.customerPhone,
                cart: this.cart.map((item) => ({
                  lessonId: item.id,
                  quantity: 1,
                  price: item.price,
                })),
                totalPrice: this.totalPrice,
              };

              fetch(
                "https://studysphere-backend-5ec2.onrender.com/api/orders",
                {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify(orderData),
                }
              )
                .then((response) => {
                  if (!response.ok) throw new Error("Failed to place order.");
                  return response.json();
                })
                .then((data) => {
                  alert(`Order placed successfully!`);

                  this.cart.forEach((cartItem) => {
                    const updatedInventory =
                      cartItem.availableInventory - cartItem.quantity;

                    this.updateLessonInventory(cartItem.id, updatedInventory);
                  });

                  this.clearCart();
                  this.customerName = "";
                  this.customerPhone = "";
                  this.validationTriggered = false;
                })
                .catch((error) => {
                  console.error(
                    "Error submitting order:",
                    error,
                    error.response || ""
                  );
                  alert("Error placing order. Please try again.");
                });
            } else {
              console.log("Validation Failed");
            }
          },
          addItemToCart(lesson) {
            if (lesson.availableInventory > 0) {
              const cartItemIndex = this.cart.findIndex(
                (item) => item.id === lesson.id
              );

              if (cartItemIndex !== -1) {
                this.cart[cartItemIndex].quantity += 1;
              } else {
                this.cart.push({ ...lesson, quantity: 1 });
              }

              lesson.availableInventory -= 1;
            }
          },
          clearCart() {
            this.cart.forEach((cartItem) => {
              const lesson = this.lessons.find(
                (lesson) => lesson.id === cartItem.id
              );
              if (lesson) {
                lesson.availableInventory += cartItem.quantity;
              }
            });
            this.fetchLessons();
            this.cart = [];
            this.showProduct = true;
          },
          removeItemFromCart(index) {
            const removedItem = this.cart[index];
            removedItem.quantity -= 1;

            const lesson = this.lessons.find(
              (lesson) => lesson.id === removedItem.id
            );
            if (lesson) {
              lesson.availableInventory += 1;
            }

            if (removedItem.quantity <= 0) {
              this.cart.splice(index, 1);
            }
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i].id === id) {
                count++;
              }
            }
            return count;
          },
          updateLessonInventory(lessonId, updatedInventory) {
            return fetch(
              `https://studysphere-backend-5ec2.onrender.com/api/lessons/${lessonId}`,
              {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ availableInventory: updatedInventory }),
              }
            )
              .then((response) => {
                if (!response.ok)
                  throw new Error("Failed to update lesson inventory.");
                return response.json();
              })
              .then(() => {
                console.log(`Inventory updated for lesson ${lessonId}`);
              })
              .catch((error) => {
                console.error("Error updating inventory:", error);
              });
          },
        },
        computed: {
          itemInCart() {
            return this.cart.reduce((total, item) => total + item.quantity, 0);
          },
          sortedLessons() {
            const sorted = [...this.lessons].sort((a, b) => {
              if (
                this.sortProperty === "price" ||
                this.sortProperty === "available"
              ) {
                return this.sortOrder === "asc"
                  ? a[this.sortProperty] - b[this.sortProperty]
                  : b[this.sortProperty] - a[this.sortProperty];
              }
              const propA = a[this.sortProperty]?.toString().toLowerCase();
              const propB = b[this.sortProperty]?.toString().toLowerCase();
              if (this.sortOrder === "asc") {
                return propA < propB ? -1 : propA > propB ? 1 : 0;
              }
              return propA > propB ? -1 : propA < propB ? 1 : 0;
            });
            return sorted;
          },
          totalPrice() {
            return this.cart.reduce(
              (total, item) => total + item.price * item.quantity,
              0
            );
          },
        },
      });
    </script>
  </body>
</html>
